*.DS_Store
.AppleDouble
.LSOverride
.vscode

# Files that might appear in the root of a volume

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/